body {
  margin: 0;
  min-width: 320px;
  height: 100vh;
  // background-color: #f2f2f2;
}

#app {
  height: 100%;
  width: 100%;
  color: var(--el-text-color-regular);
}

// 全局进度条样式
#nprogress {
  .bar {
    z-index: 10000 !important;
  }
}
